QMainWindow, QDialog, QWidget {
    background-color: #1e1e1e;
    color: #ffffff;
}

QPlainTextEdit {
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #333333;
}

QMenuBar {
    background-color: #1e1e1e;
    color: #ffffff;
}

QMenuBar::item:selected {
    background-color: #333333;
}

QMenu {
    background-color: #1e1e1e;
    color: #ffffff;
}

QMenu::item:selected {
    background-color: #333333;
}

QStatusBar {
    background-color: #1e1e1e;
    color: #aaaaaa;
}

QLabel{
    color: #ffffff;
    background-color: transparent;
}

QListWidget {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333333;
}

QPushButton {
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 4px 12px;
    border-radius: 4px;
}

QPushButton:hover {
    background-color: #3a3a3a;
}

QPushButton:pressed {
    background-color: #0057ae;
}

QTabWidget::pane {
    border: 1px solid #333333;
    background-color: #1e1e1e;
}

QTabBar::tab {
    background-color: #2d2d2d;
    color: #aaaaaa;
    padding: 5px 12px;
    border: 1px solid #333333;
    border-bottom: none;
}

QTabBar::tab:selected {
    background-color: #1e1e1e;
    color: #ffffff;
}
