QMainWindow, QDialog {
    background-color: #1e1e1e;
    color: #ffffff;
}

QPlainTextEdit {
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #333333;
}

QMenuBar {
    background-color: #1e1e1e;
    color: #ffffff;
}

QMenuBar::item:selected {
    background-color: #333333;
}

QMenu {
    background-color: #1e1e1e;
    color: #ffffff;
}

QMenu::item:selected {
    background-color: #333333;
}

QStatusBar {
    background-color: #1e1e1e;
    color: #aaaaaa;
}

QLabel{
    color: #ffffff;
}

QListWidget {
    background-color: #1e1e1e;
    color: #ffffff;
}